@import "tailwindcss";

@theme {
  --bg-pink: #b692a1;
  --bg-green: #798e7b;
  --bg-blue: #bfccd8;
  --bg-orange: #e49366;
  --bg-black: #000000;
  --bg-white: #ffffff;

  --text-black: #000000;
  --text-white: #ffffff;

  --font-cabinet: var(--font-cabinet);
  --font-anton: var(--font-anton);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  /* ::-webkit-scrollbar {
    display: none;
  } */
}

@layer components {
  .responsives {
    @apply px-2 xl:px-10;
  }

  .transitions {
    @apply transition-all ease-in-out duration-300;
  }
}
